:root {
  /* header */
  --logo-text: "Raleway";
  --logo-color-1: #000000;
  --logo-color-2: #ffffff;
  /* main */
  --main-font: "Roboto";
  --main-font-color: #212121;
  --main-background-color: #ffffff;
  /* menu */
  --header-menu-title-color: #212121;
  --header-menu-address-color: #757575;
  /* hero */
  --hero-title-color: #ffffff;
  --title-color: #212121;
  --description-text-color: #757575;
  /* footer */
  --footer-conection-text-color: #ffffff;
  --footer-address-text-color: rgba(255, 255, 255, 0.6);
  /* hover */
  --accent-color: #2196f3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.hover:hover,
.focus:focus {
  color: var(--accent-color);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--main-font-color);
}

h1 {
  margin: 0;
}

.container {
  /* width: 1200px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header,
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 85px;
}

.logo-1,
.logo-2 {
  font-family: var(--logo-text);
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color-1);
}

.logo-1 {
  margin-right: 9px;
}

.header-navigation {
  display: flex;
  align-items: center;
  /* margin-right: 305px; */
}

.header-navigation-list {
  display: flex;
}
.header-navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-navigation-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: var(--header-menu-title-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-contacts {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
}

.header-address-list-email,
.header-address-list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: var(--header-menu-address-color);
  font-style: normal;
}

.header-address-list-email {
  margin-right: 30px;
}

/* MAIN */

main {
  font-style: normal;
  font-weight: 500;
  line-height: 0.615;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.main-title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

/* main-hero */
.main-hero {
  width: inherit;
}
.main-hero-slider {
  background-color: rgba(47, 48, 58, 0.8);
  /* width: fit-content; */
  height: 600px;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
  align-items: center;
  text-align: center;
}
.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.main-hero-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.53;
  color: #ffffff;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  Section 2  */

.main-merits {
  margin-bottom: 94px;
  text-align: center;
}

.main-merits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 215px;
  margin-right: 215px;
}

.main-merits-list-item {
  display: block;
  width: 270px;
}

.main-merits-list-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.main-merits-list-item-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 0.583;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
  display: inline-block;
  line-height: 1.2;
}

/* Main-doings */

.main-title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}
.main-doings-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}

.main-doings-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  /* color: #ffffff; */
}
.main-doings-list-item {
  text-align: center;
}

/* team section */

.main-team {
  text-align: center;
}
.main-team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}
.main-team-list-teammate:not(:last-child) {
  margin-right: 30px;
}
.main-team-list-teammate-img {
  display: block;
  margin-bottom: 30px;
}
.main-team-list-teammate-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.main-team-list-teammate-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--description-text-color);
  text-align: center;
}
.main-team-list-teammate-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

/* Clients section */
.main-clients-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}
.main-clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.main-clients-list-item-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portfolio main-filter  */

.main-filter-list-item {
  display: flex;
  justify-content: center;
  margin-top: 93px;
  margin-left: 495px;
  margin-right: 494px;
  margin-bottom: 34px;
}

.main-filter-list-item-button {
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;

  text-align: center;
}

/* Portfolio Projects */

.main-projects {
  width: 1170px;
}
.main-projects-list {
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-projects-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.main-projects-list-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.main-projects-list-item-description {
  margin: 20px;
}
.main-projects-list-item-type {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

/* Footer */
footer {
  background: #2f303a;
  height: 252px;
  left: 0px;
  top: 1628px;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 214px;
  padding-right: 214px;
}
.footer-logo {
  margin-bottom: 20px;
}
.logo-2-1,
.logo-2-2 {
  font-family: var(--logo-text);
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color-2);
  display: inline-block;
}
.footer-contacts {
  margin-right: 69px;
}
.footer-contacts-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.857;
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-bottom: 9px;
}
.footer-contacts-email-link,
.footer-contacts-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.857;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 9px;
}
.footer-connections-title-1 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-conection-text-color);

  display: block;
  margin-bottom: 20px;
}
.footer-connections-socials {
  display: flex;
}
.footer-connections-title-2 {
  margin-left: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-conection-text-color);
  margin-bottom: 20px;
}
.footer-connection-input {
  margin: auto;
}
.footer-button-tosign {
  /* position: absolute; */
  width: 200px;
  height: 50px;
  left: 1184px;
  top: 1736px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
